@import './../App/vars';

.cart-footer {
	display: grid;
	grid-template-columns: 5fr 3fr 4fr;
	column-gap: 30px;

	padding: 19px 0;
	background-color: #eaeff2;

	color: #000;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.2;

	@media (max-width: $mobile) {
		grid-template-columns: 1fr 1fr;
		padding-left: 15px;
		padding-right: 15px;
	}

	@media (max-width: $mobile-xs) {
		grid-template-columns: 1fr;
		row-gap: 10px;
	}
}

.cart-footer__count {
	grid-column-start: 2;

	@media (max-width: $mobile) {
		grid-column-start: 1;
	}
}
